# Exemplo de variáveis de ambiente para o projeto pet-services

# Banco de Dados
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=nome_do_banco
DATABASE_URL=postgres://seu_usuario:sua_senha@postgres:5432/nome_do_banco?sslmode=disable

# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=pet-services
MINIO_USE_SSL=false
# Caminho onde os dados do Minio serão armazenados (pode ser em outro disco)
# Exemplo: MINIO_DATA_PATH=/mnt/storage/minio-data
MINIO_DATA_PATH=/media/guilherme/HD 1TB1/minio:/data

# API
PORT=8080
JWT_ACCESS_SECRET=sua-chave-secreta-jwt-acesso
JWT_REFRESH_SECRET=sua-chave-secreta-jwt-refresh
JWT_ACCESS_DURATION=15m
JWT_REFRESH_DURATION=168h
SMTP_HOST=smtp.seudominio.com
SMTP_PORT=587
SMTP_USER=usuario@seudominio.com
SMTP_PASS=senha_smtp
SMTP_FROM=nao-responda@seudominio.com
PASSWORD_RESET_BASE_URL=https://seudominio.com/reset-password
EMAIL_VERIFY_BASE_URL=https://seudominio.com/verify-email
CORS_ORIGINS=https://seudominio.com,https://outraorigem.com
LOG_LEVEL=info
